{% extends "@Contao/content_element/image.html.twig" %}

{% block wrapper %}
  {% set attributes = attrs(attributes|default).addClass(['headerImage']) %}
  {{ parent() }}
{% endblock %}

{% block headline_component %}
  <div class="caption">
    <div class="container">
      {% set headline = headline|default(_context) %}
      {% set tag_name = headline.tag_name|default('h1') %}

      <{{ tag_name }}{% block headline_attributes %}{{ attrs(headline.attributes|default).addClass(['hc-bg-white']) }}{% endblock %}>
        {%- block headline_inner %}
          {%- apply spaceless %}
            {{ headline.text|insert_tag_raw }}
          {% endapply -%}
        {% endblock -%}
      </{{ tag_name }}>
    </div>
  </div>
{% endblock %}
